* {
    box-sizing: border-box;
    padding: 0;
}

html {
    font: 400 100% / 1.4 "Ensign:Sans", Arial, "noto sans", sans-serif;
    text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}
#contanier {
    position: absolute;
    z-index: -1;
}